# -----------------------
# Node / React
# -----------------------
/frontend/node_modules/
/frontend/build/
/frontend/.env
/frontend/.DS_Store
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# -----------------------
# .NET / C#
# -----------------------
/backend/bin/
/backend/obj/
/backend/.vs/
/backend/app.db
/backend/appsettings.Development.json
/backend/appsettings.*.json.user
/backend/.env

# -----------------------
# System / IDE
# -----------------------
*.user
*.suo
*.swp
*.lock
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/